*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.af-cl-w{
  color: white !important;
}

.af-cl-g{
  color: #27B08A !important;
}

.af-py-60{
  padding: 60px 0;;
}

.af-title1{
  font-size: 60px;
}

.af-title2{
  font-size: 50px;
}

.af-title4{
  font-size: 24px;
}

.af-fs-15{
  font-size: 15px;
}

.af-container-60{
  width: 60%;
  margin: 0 auto;
}

/*----------------------------
HEADER
----------------------------*/

header{
  height: 100px;
  background-color: #22303F;
}

/*----------------------------
MAIN
----------------------------*/

/* jumbotron */

.af-jumbotron, .about{
  background-color: #27B08A;
}

.af-jumbotron{
  margin-top: 100px;
}

.af-jumbo-content{
  width: 800px;
  max-width: 80%;
  margin: 0 auto;
}

.af-jumbo-box{
  width: 250px;
}

.af-jumbo-box img{
  width: 100%;
}

/* portfolio */

.af-portfolio-box{
  margin: 10px;
}

.af-portfolio-box img{
  width: 100%;
  border-radius: 10px;
}

/* about */

.about p{
  font-size: 24px;
}

.af-download-btn{
  font-size: 18px;
  color: white;
  border: 1px solid white;
  padding: 10px 15px;
}

.af-download-btn:hover{
  background-color: white;
}

/* contact */

.af-form-input{
  font-size: 20px;
  color: black;
  border: none;
  border-bottom: 1px solid lightgray;
  border-radius: 0;
  padding: 15px 0;
}

.af-form-btn{
  font-size: 18px;
  color: white !important;
  background-color: #27B08A;
  border-radius: 5px;
  padding: 10px 15px;
}

.af-form-btn:hover{
  background-color: #166952;
}

/*----------------------------
FOOTER
----------------------------*/

.af-footer-top{
  background-color: #2D4359;
}

.af-social-icon{
  width: 60px;
  height: 60px;
  font-size: 20px;
  text-align: center;
  line-height: 60px;
  border: 1px solid white;
  border-radius: 50%;
}

.af-footer-bottom{
  height: 100px;
  background-color: #22303F;
}